{% extends "diyTarot/static.html" %}

{% block title %}The questions! They haunt me!{% endblock %}

{% block breadcrumbs %}
{{ block.super }} » FAQ
{% endblock %}

{% block static_content %}

  <h1>Frequently Asked Questions</h1>
  
  <p>It must be confessed that tarot, while awesome, is a bit of niche interest: more prevalent
    than <a href="http://en.wikipedia.org/wiki/Hamster_racing">hamster racing</a>, but less common than 
    riding rollercoasters. It's perfectly
  normal to be skeptical and/or mystified at first, which is why I put together the questions and answers below.
  Enjoy! And try to remember that, like all hobbies including hamster racing, tarot is extremely serious business.
  </p>
  <p class="image">
  <img src="{{ STATIC_URL }}diyTarot/images/hamster_car.jpg" width="110" height="83"
  title="You don't need tarot to predict this hamster's future" alt="Hamster racer"/>
  Also serious business.
  </p>
  <p>
    So read on and maintain a healthy spirit of inquiry, but mock the Tarot at your own risk! 
    The stars of fate are known to be as unkind as they are arbitrary, as <a href="http://en.wikipedia.org/wiki/Oedipus">Oedipus</a>
    for example can vouch. 
  </p>
  
  
  <div class="divider"></div>
  
  <h2>Q: Can tarot cards really tell the future?</h2>
  <p>A: Certainly. The question most of the time is whether we can understand what 
    the cards have to say about it. A lot of times it seems like they are being cagey
    or purposely vague, and we must sift through all the irrelevant details to find 
    a few kernels of truth. 
  </p>
  <p class="image">
    <img src="{{ STATIC_URL }}diyTarot/images/heart_boxers.jpg" width="100" height="104"
     title="Your underwear for today, admit it." alt="Heart Boxers"/>
     I see London, <br>
     I see France
  </p>
  <p>Even so, don't think for a second that the tarot is inaccurate or lacks insight
    into the future. Simply know that until you gain familiarity with the cards and can
    enter into the reading with a pure and unclouded spirit, you may lack the capacity
    to grasp what they are saying. The tarot knows all, even what color underwear you're wearing today!
    It's just that simple.
  </p>
  
  
  <div class="divider"></div>
  
  <h2>Q: I don't believe you.</h2>
  <p>A: Okay, first&mdash;that's not a question! And second, it sounds like maybe you're a little bitter because you just got 
    <a href="/diyTarot/cards/15">the Devil</a> in a reading or something. But ya know, even if you don't believe 
    in the Ancient Power of the Holy Tarot
    (which is totally real by the way), you can still use the cards for artistic inspiration, impressing hotties at parties, 
    <a href="http://en.wikipedia.org/wiki/Tarot,_tarock_and_tarocchi_games">playing 
    actual card games</a>, or just marveling at their prettiness. For they are so <em>very</em> pretty.
  </p>
  <div class="divider"></div>
  
   <h2>Q: Does the <a href="/diytarot/cards/13">Death card</a> mean I'm gonna DIE?</h2>
  <p>A: Yes.  Get your affairs in order now.<br><br>
     A: Okay, not necessarily, but you know what they say about self-fulfilling prophecies!
    On the one hand, almost every modern fortuneteller interprets the Death card as a metaphorical ending,
    a drastic transformation or upheaval in life. On the other hand, there's the 
    <a href="http://en.wikipedia.org/wiki/Final_Destination_(film_series)">Final Destination Quintilogy</a> to consider.
    You decide which one to believe.</p>
  <p class="image">
    <img src="{{ STATIC_URL }}diyTarot/images/death_by_tarot.jpg" width="100" height="120"
    title="Cause of death: TAROT" alt="Death by Tarot" />
  Relax, it's probably fine. 
  </p>
  
  <div class="divider"></div>
  
  <h2>Q: Are tarot cards evil?</h2>
  <p>A: I have no idea who actually asks this question, but every single tarot book I've read includes it
    in the introductory chapter. So it must be important! For what's it worth, I'd say they're probably about 
    as evil as the person doing the interpretation. So in some cases, yes, I'd say they're extremely evil.</p>

  <div class="divider"></div>
    
  <h2>Q: Why do you keep talking about "spreads" on your readings page? Are you obsessed with condiments?</h2>
  
  <p>A: No I am not obsessed with mayonnaise, that is a hurtful stereotype. <br><br>
    
    A: But seriously, <dfn>spread</dfn> is 
    a term I learned when I started reading modern Tarot books, and it refers to a way of laying out the cards
    and interpreting them. They can be as simple as three cards for the past, present, and future or as complicated
    as the 10-card Celtic Cross, which attempts to explore every possible facet of an issue.
  </p>
  <p class="image">
    <img src="{{ STATIC_URL }}diyTarot/images/mayo.jpg" width="60" height="87"
     title="So eggy, so delicious" alt="Mayo"/>
    the White Man's poison
  </p>
  
  <p>In general, every spread has two components: the diagram and the position descriptions. The diagram shows you
    where and in what order to lay out the cards as well as which card corresponds with which position. And the 
    descriptions tell you what the significance of each card is: what it's called and how a card in that 
    be interpreted in the context of your question.
  </p>
  <p>So if <a href="/diytarot/cards/16/1/">the Tower</a> appears in a position for the past
    it might refer to something that recently
    shook you up, or something that happened long ago and is still affecting you. While on the other hand if it pops up
    in a spot that's supposed to refer to your future love interest, well, you'd better be prepared for the 
    worst on that blind date.
  </p>
  <p class="image">
    <img src="{{ STATIC_URL }}diyTarot/images/celtic_cross.jpg"
     title="So ancient, so celtic (apparently)" alt="Celtic Cross tarot spread"/>
   the Celtic Cross spread
  </p>
  <p>Of course, some modern spreads don't even require a question! These spreads are great fun because you can just lay
    them out and see what you get. For example, there are spreads where each card is assigned to a different time of day,
    and countless other fascinating variations. The sky's the limit, really, so go out and invent some of your own!
  </p>
    
  <div class="divider"></div>
    
  <h2>Q: Why is it so complicated? All they do in movies is flip cards over and portentuously mutter over them.</h2>
  <p>A: Actually, as you've just illustrated, Tarot readings can be as complicated or as simple as you want them to be.
     If drawing a card or two, looking up the meanings, and chuckling at the result makes you happy, then that's
     exactly how you should do readings! I included the simple <a href="">Daily Card</a> reading for just that
     reason.  
  </p>   
  <p>However, there are plenty of other tarot fans who get tired of the same old Celtic Cross or three-card readings and want more, 
    or who simply are inspired by different things. So don't worry about understanding every nuance of the tarot
    if it seems too complex&mdash;just take the parts you like and enjoy them! And for the record, there's nothing
    stopping you from muttering portentously over anything you want.
  </p>
  
  <div class="divider"></div>

  <h2>Q: Will I ever be able to do readings without looking up the
     meanings of the cards?</h2>
  
  <p>A: Short answer: sure, if you really want to. 78 cards (double that if you like different shades of meaning for
    reversed cards) is a lot to memorize! The only upside is that in a good tarot deck
    the illustration should give you a hint (although it is frequently a bizarre, 100 years outdated hint).
  </p>
  <p>A common way to start is to methodically study one card at a time
    in an attempt to understand the symbolism, themes, and nuances associated with it. Once
    you've mastered that one, move on to the next one, and so on until you've covered every card.
    Also check google: <a href="http://www.learntarot.com">Joan Bunning's online tarot course</a> is a great one.
    Hey, you think you have it bad&mdash;apparently the actual gypsy fortunetellers of yore used playing cards! Talk about
    taking Concentration to a whole new level.
  </p>
  
  <div class="divider"></div>

  <h2>Q: What's with those scary cards like <a href="/diytarot/cards/16/1/">the Tower</a>
     and the <a href="/diytarot/cards/57/1/">8 of Swords</a>? They bum me out!</h2>
  
  <p>A: Well the traditional answer to this question is that since life has its little ups and downs the 
    tarot cards should reflect that. You know. There's no light without the darkness to highlight it, 
    yin and yang and yada yada yada. But what helps me get over the bummer parts is to just figure 
    the cards are being <strong>a huge drama queen</strong>. That way I can be a True Believer without
    wanting to jump off a building every time I get a Swords card!
  </p>
  <p class="image">
  <img src="{{ STATIC_URL }}diyTarot/images/evil_tower.jpg" width="120" height="123"
  title="The Tower's gonna getcha!" alt="The Tower's gonna getcha!"/>
  Fear the Tower
  </p>
  <p>
    I mean, isn't it true that to be sad is to be stabbed 
    through the heart, even if it's only the horrifying realization that there's no cake left in the fridge? Maybe 
    <a href="/diytarot/cards/16/">"sudden catastrophe"</a> is nothing more than stepping in something gross.
    It's all about perspective, and it's important to remember that the cards are just as likely 
    to refer to some tiny, irrelevant detail of your future as they are to massive, earth-shaking events.
  </p>
  <p>
    Alternatively, <a href="http://www.amazon.com/Goddess-Tarot-Deck-Kris-Waldherr/dp/1572810661">there are decks out there</a>
    that are apparently designed to soothe your concerns by toning down 
    the traditional cards. They feature pretty, pastel artwork and a kinder, gentler booklet of meanings.
    I won't judge you if you like those decks. Really. Okay, maybe a little, but what do you care?
  </p>
  
  <div class="divider"></div>

  <h2>Q: I love those scary cards like <a href="/diytarot/cards/16/1/">the Tower</a> and the
    <a href="/diytarot/cards/57/1/">8 of Swords</a>! Why aren't they all that dark?</h2>
    
   <p>A: Drama queen. You're worse than the cards! But I totally know a deck you'll love. Check out the Deviant 
     Moon deck, by Patrick Valenza. 
     He really did his research on tarot, and came up with a completely new vision of many of the 
     cards, all drawn in his own awesomely surreal, vaguely gruesome style! You can find it on Amazon or in Barnes and Noble, and 
     <a href="http://www.deviantmoon.com/">here's a link</a> to give you a taste
      of the gothicness of it all. Now run along and listen to some Coldplay or something.
   </p>
   
   <div class="divider"></div>

  <h2>Q: So what's in a name? Why'd you name this diyTarot?</h2>
  
  <p>A: Well DIY stands for Do It Yourself and with this website you're moving fortunetelling from something you see
    in a movie or pay for at a flea market to something you can do on your own. Hence the motto: card reading on <em>your</em>
    terms.
  </p>
  <p>On top of that, tarot itself has enormous DIY potential waiting to be tapped. Since each tarot card was originally 
  conceived as a concept or archetype they lend themselves incredibly well to many 
different art styles, purposes, and media. In fact, once you get into tarot cards you may find you're seeing them everywhere!
(Hopefully not in a bad way.) After a while, it's pretty tempting to make up your own decks, spreads (how the cards are laid out), and
even meanings for different cards. 
  </p>
  <p>
    Of course, since like most people I don't own a printing press, the only way I can make all the customization happen is digitally.
    So voila! diyTarot is born. You can check out <a href="/diytarot/about">about diyTarot</a> if you want some technical details, or
    if you want to add tarot card readings like I have here to your own website (I'm working on it, I promise!).
  </p>
{% endblock %}
 
  