{% extends "diyTarot/static.html" %}
{% block title %}Sporking tarot cards, how do they work!{% endblock %}

{% block breadcrumbs %}
{{ block.super }} » How Readings Work
{% endblock %}

{% block static_content %}
<h1>How do readings work, anyway?</h1>

<p>
If you've never heard of tarot readings before, you might be a little confused about how it works, and what
the options on my readings page mean. Or you may have a passing familiarity with tarot but are wondering
how I've translated that experience to the web. Either way, here's the lowdown.
</p>

<h2>Options, options, so many options</h2>
<p>There's actually only two options for readings: which <dfn>spread</dfn> and which <dfn>deck</dfn>.
  The spread is the most important and determines how the cards will be laid out, as well as possibly what 
  kind of reading you want. There are both specific and general spreads: some (like the Celtic Cross) will apply
  to all questions equally, while others (like the Choices spread) only make sense for certain subjects and situations.
  You can filter the list of spreads by size, and eventually you'll be able to search the spread list for keywords that
  appeal to you.
</p>
<p>When you've found a spread to your liking, just click on it and you will get a brand-new, random reading using
  that spread. Every time you visit the page the cards will be "drawn" again, so if you want to bookmark or share the reading
  you need to use the permanent link which you can find at the bottom of the page.
</p>
<p>Once you're viewing a reading you have more options: you can change the spread you're using in place without going
   back to the previous page, or you can change the deck. By default, you will always start out using the Rider-Waite deck,
   but if you like you can use another one. Once you change the deck you're seeing your reading in, you also have the
   option to set it as your preferred deck, the one you will see all readings with in the future. Of course you can change
   it back whenever you want.
</p>
<h2>But wait, what about the actual reading?</h2>
<p>
  Once you're looking at your reading, you've probably noticed there are two general sections. At the top is the name
  of the spread and a collection of cards with numbers underneath them: those are the cards that were randomly drawn for you.
  You can hover over the card pictures to see what the positions they're in mean, or click on the position numbers to jump
  to what the cards mean.
</p>
<p>
  Underneath the group of cards is a list with detailed information on each position, which card is in it, and what that card predicts
  for the future. The list is ordered by the position number, which is not neccessarily the visual order in the diagram, so
  it might be useful to scroll back up and refer to the layout, or navigate using the position links.
</p>
<h2>And then?</h2>
<p>And then that's all there is to it! I now pronounce you a diyTarot master, now get out there and divine the murky murky future!
  Simply remember that if a reading's not working out for you the solution is <em>always</em> to refresh and try again with new cards.
</p>
<p> If you're still feeling bewildered, you may also want to check out <a href="/diytarot/tarot/">What's Tarot?</a> and
  <a href="/diytarot/faq/">my Tarot FAQ</a>. STILL bewildered? Try 
  <a href="http://paganwiccan.about.com/od/tarot/p/Intro.htm">About.com's Tarot 101</a>.
</p>
  
{% endblock %}
